go 1.25.4

use (
	./services/admin
	./services/ads
	./services/auth
	./services/booking
	./services/cancellation
	./services/geo
	./services/inventory
	./services/notification
	./services/payment
	./services/pricing
	./services/profile
	./services/review
	./services/search
	./services/user
	./tests/integration
)
